@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4 text-center text-sky-700 
    hover:text-black
    active:text-black
  }

  button {
      @apply text-white border bg-sky-600 border-sky-600 rounded-md
      hover:bg-transparent hover:text-sky-600
      
  }

  
  
}
